<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.lab.data.dao.MavenArtifactMapper">
    <resultMap id="BaseResultMap" type="MavenArtifact">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="artifactId" property="artifactId" jdbcType="VARCHAR"/>
        <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllMavenArtifact" resultMap="BaseResultMap">
        SELECT *
        FROM mavenartifact
    </select>
    <select id="isExist" resultType="Integer">
        SELECT 1
        FROM mavenartifact
        WHERE artifactId = #{arg0}
        AND groupId = #{arg1}
        Limit 1
    </select>

    <insert id="insertMavenArtifact" parameterType="MavenArtifact">
        INSERT INTO
        mavenartifact(artifactId, groupId)
        VALUES(#{artifactId}, #{groupId})
    </insert>
</mapper>